@define-color base #1e1e2e;
@define-color text #cdd6f4;
@define-color text-dark #151411;
@define-color primary #e8ac04;
@define-color primary-light #ffd14f;
@define-color primary-dark #7a5b03;
@define-color alert #bb0303;

.control-center {
  background: alpha(@base, 0.55);
  border-radius: 8px;
  border: 3px solid @primary-dark;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  padding: 12px;
}
